[2014-08-01 03:18] abbeycode opened #1 "Unrar Operations leak file descriptors"
Causes a leak for each call, meaning if you extract each file from an archive, there will be that many leaks. This can cause an app to run out of file descriptors in short order.

[2014-08-01 03:22] #1 closed, assigned to abbeycode

[2014-09-19 02:45] abbeycode opened #2 "NSErrors returned misuse the NSUnderlyingError userInfo key"
It should contain an `NSError*` object, not a string, as it currently does. Use a different key, like `NSLocalizedFailureReasonErrorKey`, and bump the minor revision number, since this might break someone who's looking for the existing key.

[2014-09-23 20:13] #2 closed, assigned to nobody

[2014-11-19 10:09] DimonDeveloper opened #3 "I have linker error after install UnrarKit via cocoapods."
I don't have another unrar library.
How to fix it?

Undefined symbols for architecture i386:
  "std::bad_alloc::bad_alloc()", referenced from:
      FragmentedWindow::Init(unsigned long) in libPods-UnrarKit.a(unpack.o)
      Unpack::Init(unsigned long, bool) in libPods-UnrarKit.a(unpack.o)
  "std::bad_alloc::~bad_alloc()", referenced from:
      FragmentedWindow::Init(unsigned long) in libPods-Unr

[2014-11-19 20:10] #3 closed, assigned to abbeycode

[2014-12-05 17:15] mmcdole opened #4 "Allow buffered reading of individual files"
Right now, we can decompress the entire RAR archive or we can decompress a single file in the archive entirely into memory.

Ideally, it would be nice to be able to read a single file but not entirely into memory at once.  Using a read-then-write buffer would allow us to extract individual files of an arbitrary length without hitting the iOS memory limits.

[Here an example](https://github.com/fly

[2014-12-05 18:23] abbeycode opened #5 "Files read with 0 length when file moved during read"
#### Steps to reproduce
1. Begin extracting the contents of an archive
2. Move the file to a different directory before finishing extraction
#### Expected

**Best case**: the extraction seamlessly completes
**Next best**: file move is blocked, so the file can't be moved until UnrarKit is done with it
**Last resort**: Return an error code.

If the archive is deleted during extraction (via, say, an

[2014-12-05 20:31] abbeycode opened #6 "Add API for reporting progress in a block callback"
Add something akin to these overloads:

[code]

[2014-12-05 21:51] mmcdole opened #7 "Make listFiles return more file metadata than just filenames"
Another potential enhancement would be for the `listFiles` method to return an NSArray of a `URKFileInfo` instead of just an array of NSString file paths .

This `URKFileInfo` could contain some more useful metadata that we have available to us in the RAR header via RARReadHeaderEx.

Perhaps something like:

[code]

Then in the `listFiles` method we could map these header properties:

[code]

[Thi

[2014-12-07 03:31] abbeycode opened #9 "Add block-based API for working with archives, updating API to use URKFileInfo"
Add the following methods:

[code]

[2014-12-08 21:13] #5 closed, assigned to abbeycode

[2014-12-09 04:20] mmcdole opened #11 "No support for Unicode in filenames"
I'm bringing this issue over from ararog/Unrar4iOS#5.

I suspect this is because we use the `FileName` field from `RARHeaderDataEx`:

[code]

We should look at using `FileNameW` (UTF-8?) throughout UnrarKit so it can support unicode filenames.

[2014-12-09 22:57] #11 closed, assigned to abbeycode

[2014-12-15 20:41] #7 closed, assigned to nobody

[2014-12-16 00:41] #9 closed, assigned to nobody

[2014-12-16 03:58] #6 closed, assigned to abbeycode

[2014-12-16 05:02] #4 closed, assigned to abbeycode

[2014-12-16 05:20] mmcdole opened #13 "Unfork UnrarKit from Unrar4iOS"
I think that UnrarKit should try to see if it is possible to "unfork" it's repo from Unrar4iOS.  Some reasons for this change would be:
-  UnrarKit has become a project onto it's own.  The two codebases have diverged greatly and are unlikely to join paths again.
-  GitHub restricts certain features from forked repos (such as repo search)
-  Contributors looking to submit PRs to UnrarKit must alway

[2014-12-16 05:51] mmcdole opened #14 "Add isFolder property to URKFileInfo"
Unless I'm missing something, I think right now there may be an issue if a user were to try and decompress an archive one file at a time due to not being able to tell if a URKFileInfo is a file or directory.

This edge case seems to only be an issue if you have empty directories.  There is nothing to differentiate their filename from a file or folder (such as a trailing slash).

Here is an example

[2014-12-16 14:52] #13 closed, assigned to abbeycode

[2014-12-16 16:32] #14 closed, assigned to abbeycode

[2014-12-29 16:04] abbeycode opened #15 "CPP files present analyzer warnings in host project"

[2014-12-29 17:01] #15 closed, assigned to abbeycode

[2015-01-08 18:06] abbeycode commented on #7
I released 2.3.0-RC1 to CocoaPods, if you'd like to try it out. Are you on Twitter? I'm @DovFrankel

[2015-02-18 03:03] abbeycode opened #16 "Some archives with directories don't work with performOnDataInArchive correctly"
If `rar l` lists a discrete directory for the archive, then all files after it get skipped.

[2015-03-29 00:00] abbeycode commented on #16
Fixed in 2.3.0-RC4

[2015-03-29 00:00] #16 closed

[2015-03-29 00:17] abbeycode opened #17 "Add method to detect whether a given file is a RAR archive"
Check the file's signature, which starts with "Rar!".

http://www.rarlab.com/technote.htm#arcstruct
http://en.wikipedia.org/wiki/List_of_file_signatures

[2015-03-29 23:19] abbeycode commented on #17
Implemented in v2.4

[2015-03-29 23:19] #17 closed

[2015-06-17 19:12] abbeycode opened #18 "Reduce repo size"
It should be under 10 MB, since it's getting dinged by the CocoaPods quality check. The culprits are two CBR files stored with the example project, which can be dumped altogether, and the Large Archive file used for testing, which can possibly be generated as part of the unit test.

[2015-06-18 14:50] #18 closed

[2015-06-22 03:58] SkiesOFF opened #19 "validatePassword not working with RAR5"
Hello,

The method validatePassword don't work if the archive is RAR5.

You can test using this archive (password is 123):
https://www.dropbox.com/s/rnl6y9jons1eiyp/rar5WithPassword.rar?dl=0

This happens because this if

[code]

is not checking if PFCode is ERAR_BAD_PASSWORD, which is the value a rar5 with wrong password returns. So, change this if to ->

[code]

to fix this issue =).

[2015-06-22 04:50] SkiesOFF opened #20 "extractFilesTo path bug"
Hello!

I'm trying to unrar this file (happens with others too):
https://www.dropbox.com/s/q0w8gatjobx2puq/rarWithoutPassword.rar?dl=0

I'm using the method extractFilesTo and for the destination path i'm creating a folder with the same name of the file

[code]

The extract is working, but there is a very strange bug. The rar i provided for download has 2 .txt on it and this is the result i got fr

[2015-06-22 11:08] amosavian opened #21 "password protected files"
I cant extract password protected files, give me URKErrorCodeUnknown

[2015-06-22 13:56] abbeycode commented on #21
Can you send a link to an example of a file that isn't working?

[2015-06-22 13:57] abbeycode commented on #19
Thanks, I'll take a look at writing a test case with a RAR5 file to validate your proposed change.

[2015-06-22 14:08] abbeycode commented on #20
Interesting... Now, the difference between the `*` and `*W` variants is using `char` vs. `wchar`, respectively. `wchar` is required for full unicode support. the `unicharsFromString()` method uses a specific UTF-32 (little endian) encoding, because the archives I had tested with used that encoding. May I ask what app created the test archive you linked? The [spec](http://www.rarlab.com/technote.ht

[2015-06-22 14:28] SkiesOFF commented on #20
I used WinRAR 5.20 64bits for Windows (Portuguese Brazilian).

[2015-06-22 15:00] abbeycode commented on #19
Fixed, and released to CocoaPods as v2.4.2

[2015-06-22 15:00] #19 closed

[2015-06-22 15:38] abbeycode commented on #20
I added the linked archive to the Test Data folder (named `Test Archive (RAR5).rar`), and added a couple of unit tests against it, that both are passing. I did this in a new [issue20 branch](https://github.com/abbeycode/UnrarKit/tree/issue20). Could you submit a pull request or comment on this issue detailing how to get these tests to break as you described?

[testExtractFiles_RAR5](https://github

[2015-06-22 17:28] amosavian commented on #21
this is a sample file which entire file is protected:
http://cdn.p30download.com/?b=p30dl-software&f=DreamCalc.Professional.v4.9.3_p30download.com.rar
password: www.p30download.com
error for this file is incorrupt header

this is a sample file which a file inside is password protected:
http://www.filedropper.com/fonts-128
password: hello
error no. 21: unspecified error

both don't work

[2015-06-22 17:52] abbeycode commented on #21
I'm not able to reproduce. Can you please paste the code you're using?

[2015-06-22 17:57] amosavian commented on #21
var unrar = URKArchive.rarArchiveAtURL(filePath);
                    let extractfile = { () -> Void in
                        var error: NSError?
                        unrar.extractFilesTo(destPath, overwrite: false, progress: { (fInfo, percent) -> Void in
                            return
                        }, error: &error)

                        dispatch_async(dispatch_get_main_queu

[2015-06-22 19:50] SkiesOFF commented on #20
Sorry, i don't know very well how to use all the features of github.
I created a new repository here: https://github.com/SkiesOFF/UnrarKitBugTest

What i did:
-> Clean new Xcode 6.3.2 project
-> Pod install only with UnrarKit
-> In AppDelegate.m i created a easy test case, trying to extract a .rar file.
-> I print the files inside the folder before and after extraction.

The bug don't happens all

[2015-06-22 22:12] abbeycode commented on #21
Oh, I see what you mean. That's just a log message, and the method still returns the correct value. But your code is a little wrong. The most important thing, is you should be checking return values before considering specific error codes. This is how I would tweak your code (I didn't compile it, but it should be close):

[code]

[2015-06-22 22:14] abbeycode commented on #21
I did stop that error message though, as it was inappropriate.

[2015-06-22 22:39] abbeycode commented on #20
Have you tried a destination that's not inside your app bundle? You probably shouldn't be modifying that at runtime.

It'd be a lot easier to see this in a test case. I can help you with forking, if you haven't done it before. You basically click the "Fork" button, which makes a copy of the repo in your own account, and then you clone that, make your changes, and push.

This is GitHub's guide: htt

[2015-06-22 22:40] abbeycode commented on #21
I released a fix to remove the error to CocoaPods. Let me know if you're still having problems.

[2015-06-23 01:09] SkiesOFF commented on #20
I forked and tried but i couldn't reproduce the bug in your test unit. Maybe is the folder i'm using?

I updated my repository to use the /Documents with this code:

[code]

The bug still happens sometimes:
![screen shot 2015-06-22 at 10 05 39 pm](https://cloud.githubusercontent.com/assets/7773955/8296758/f97d61ac-192a-11e5-89a2-b6eb78a080f7.png)

Thanks.

[2015-06-23 03:35] abbeycode commented on #20
I wonder if it's an iOS vs. Mac thing. The unit test runs on Mac. I'll take another look and let you know when I have something.

[2015-06-23 08:13] amosavian commented on #21
I still have problem on extracting password protected file with same error.
I use my code for UnzipKit and works like a charm.
Seems your code ignore pasword property, I'm not sure

[2015-06-23 13:55] abbeycode commented on #21
Could you please create a fork and add a unit test demonstrating the bug? It would make it a lot easier to see what's going wrong.

[2015-06-23 13:56] amosavian commented on #21
did you extracted these 2 files I sent links successfully?

[2015-06-23 14:03] abbeycode commented on #21
Yes, I did. I can give you that test case code, if you'd like. When you say you're getting an error, can you explain more what that means?

[2015-06-23 14:05] SkiesOFF commented on #20
What would be the problem with the fix i suggested in the first comment? I thought it would mess with the unicode but i tested with this filenames and worked 100%:

Ⓣest Ⓐrchive.rar
rarWithoutPassword.rar
rarWithéçPassword.rar
rar★WitΨhéçPassword.rar
ⓉestУ ⒶrcдiЦe.rar

![screen shot 2015-06-23 at 10 44 38 am](https://cloud.githubusercontent.com/assets/7773955/8307829/2e156362-1997-11e5-85f7-0d76df

[2015-06-23 14:20] amosavian commented on #21
so it's a problem on my side, maybe old rar library I'm using. it's 5.1 or 5.2 I think
I have to release my app tomorrow and I will postpone this feature. no problem
thanks as I took your time

[2015-06-23 14:23] abbeycode commented on #21
No problem, don't worry about it. I'm curious though, when you say you're using an old library, you mean the library you're using to create the archives?

[2015-06-23 14:29] amosavian commented on #21
I don't use cocoapods. I inserted rarlib files (cpp files) directly into project and modified them to compile

[2015-06-23 14:35] abbeycode commented on #20
You're right, that doesn't break any existing unit tests, and it _is_ fairly limited in scope. I do prefer to have a test case demonstrating a problem before adding a fix, though. I'm going to try to reproduce it a little longer, but if I'm unable, then I'll push out the fix without a test case.

[2015-06-23 15:19] abbeycode commented on #21
Oh, interesting. You don't need to use CocoaPods to get the rarlib files, though. They're embedded in the `Libraries/unrar` directory.

[2015-06-23 16:01] #21 closed

[2015-06-23 16:03] abbeycode commented on #20
I added an iOS test bundle, and I'm _still_ not seeing any problems. I updated the test to extract your test archive 500 times in a loop, and it passes. Can you verify the test works for you also?

[2015-06-23 20:59] SkiesOFF commented on #20
Yes, i tested and it works too. I even pasted the code from my repository to your test case and still works. Everything is equal (folder, file, code), i simple can't make it work in any other project, even a new one.

I might create a "local fix" for me, unfortunately.

Thank you very much for your time, really appreciated the help.

[2015-06-23 21:36] abbeycode commented on #20
No problem, and I don't mind working with you to try to continue figuring out what's wrong - there's definitely something wrong somewhere. How are you installing UnrarKit in your new projects?

[2015-06-23 22:08] SkiesOFF commented on #20
Open Xcode 6.3.2 -> Create a new Xcode Project -> IOS Single View Application -> Language: Objective-C, Devices: Universal. Project created.

Quit Xcode, go to project folder in terminal, -> pod init -> open -a Xcode Podfile. Edit:

https://github.com/SkiesOFF/UnrarKitBugTest/blob/master/UnrarKitBugTest/Podfile

Save, close, pod install wait and open the project with .xcworkspace.

[2015-06-24 18:58] abbeycode commented on #20
Ah ha! I see it now. I'll take a look at the projects and see what's not configured the same.

[2015-06-24 20:34] abbeycode commented on #20
So, stepping through the new text project in the debugger, I see that _sometimes_ the result of `unicharsFromString()` gets padded with a bunch of 0xFFFD (�) characters. Those then don't get translated properly by dll.cpp's call to `wcsncpy()`.

[2015-06-24 20:46] abbeycode opened #22 "Support Carthage for dependency management"
Add support for the Carthage decentralized dependency manager.

* Evaluate the degree to which it already works
* Add metadata necessary to make it fully work

[2015-06-25 03:09] abbeycode commented on #20
I released your fix in v2.5, which is now out on CocoaPods

[2015-06-25 03:09] #20 closed

[2015-06-25 12:51] SkiesOFF commented on #20
Thank you.

[2015-07-21 18:30] abbeycode opened #23 "Automatically push tagged successful builds to CocoaPods"
As long as the build is for a tag, and there were no issues, push to CocoaPods. [This link to Travis documentation](http://docs.travis-ci.com/user/deployment/rubygems/) and an answer to [my question on Stack Overflow](http://stackoverflow.com/a/31511532/105717) should provide enough info to do this.

It should only push if:

1. [_All_ matrixed jobs have completed **successfully**](https://github.c

[2015-07-26 07:56] amosavian opened #24 "password protection check latency"
hi,
please replace
int PFCode = RARProcessFile(_rarFile, RAR_SKIP, NULL, NULL);
instead of
int PFCode = RARProcessFile(_rarFile, RAR_TEST, NULL, NULL);
in (BOOL)isPasswordProtected
to speed up checking

[2015-07-26 12:49] abbeycode commented on #24
Good call! I just released a patch in v2.5.1. It should be available from CocoaPods now. :+1:

[2015-07-26 12:49] #24 closed

[2015-07-26 16:38] amosavian commented on #24
also it is nice to have a separate method for checkIntegrity via this RAR_TEST option.
also for UnzipKit via CRC check

[2015-07-26 16:41] amosavian commented on #24
indeed first I splitted if into two ifs for better performance first after header second after process check but finally I overcame this issue by RAR_SKIP

[2015-07-27 21:35] abbeycode opened #25 "Remove deprecated xcconfig line from Podspec"
http://blog.cocoapods.org/CocoaPods-0.38/

[2015-07-27 22:05] abbeycode commented on #25
Released in v2.5.2

[2015-07-27 22:05] #25 closed

[2015-07-27 22:15] amosavian opened #26 "Add method to check data integrity of archived files"
it is nice to have a separate method for checkIntegrity via this RAR_TEST option.
also for UnzipKit via CRC check

[2015-07-30 15:19] abbeycode commented on #26
Thanks for the suggestion. I'll take a look when I have some time.

[2015-08-17 08:17] sunyuanyang opened #27 "there are some troubles after i update"
in the file dll.cpp,Unknow type name 'HANDLE', it cannot run

[2015-08-17 14:11] abbeycode commented on #27
Thanks for writing in to report the problem! To help me figure out what's going wrong, can you give me some more information? Specifically, it would help if you could give me a file and the UnrarKit method you're calling on it (ideally some sample code).

[2015-08-18 11:45] sunyuanyang commented on #27
<img width="880" alt="2015-08-18 7 44 38" src="https://cloud.githubusercontent.com/assets/5556727/9329134/a4498088-45e1-11e5-94ab-5f168a0505e9.png">

[2015-08-18 12:02] abbeycode commented on #27
Oh ok, thanks. Are you using Xcode 7? If so, I'll update to Beta 5 and see if I can reproduce the exception.

[2015-08-18 17:09] abbeycode commented on #27
Also, are you building for a Mac or iOS project, and simulator or device?

[2015-08-18 17:27] abbeycode commented on #27
I'm not able to reproduce it. I tried with a new Mac app and iOS app, with this Podfile, both of which compiled fine:

    pod "UnrarKit"

`HANDLE` is defined in `dll.hpp`. Do you see it referenced in the `UnrarKit` target's Headers section, as depicted below?

<img width="901" alt="Xcode Pods project settings screenshot" src="https://cloud.githubusercontent.com/assets/1349578/9337303/97af4540-45a

[2015-08-20 02:23] sunyuanyang commented on #27
i update pod and it well down. thank u

[2015-08-20 12:03] abbeycode commented on #27
I'm glad it's working for you :+1:

[2015-08-20 12:03] #27 closed

[2015-11-01 16:39] khollm opened #28 "Unknown type name 'class'; did you mean 'Class'?"
Hi ,
when I install UnrarKit in my project (with cocoa pod)  ,
and import UnrarKit through a bridging header :

#import "UnrarKit/UnrarKit.h"

 I get those error :
for archive.hpp
archive.hpp:4:1: Unknown type name 'class'; did you mean 'Class’?
archive.hpp:5:1: Unknown type name 'class'; did you mean 'Class’?
archive.hpp:6:1: Unknown type name 'class'; did you mean 'Class’?
archive.hpp:23:1: Unkn

[2015-11-01 17:03] abbeycode commented on #28
I'm sorry it's not working for you. To help me figure out what's going on, can you tell me more about your project? Specifically:

1. OS X version
2. Xcode version
3. Target platform (iOS/OS X)
4. Platform version
5. Target type (framework/app)
6. CocoaPods version

Also, could you paste in your Podfile?

[2015-11-01 17:34] khollm commented on #28
OS X Yosemite : 10.10.5
Xcode version : 7.1
Target platform : iOS
Platform version : deployment target = 8.0
Target type : app
CocoaPods version : 0.39.0

[2015-11-02 17:36] abbeycode commented on #28
Thanks for pointing this out! It should be fixed in v2.5.3. Do a `pod update` and you should be all set. Let me know if you have any other issues.

[2015-11-02 17:36] #28 closed

[2015-11-02 17:50] khollm commented on #28
It works . Thanks :)

[2015-11-02 18:56] abbeycode commented on #28
:+1:

[2015-11-06 15:17] abbeycode commented on #22
Released in v2.6

[2015-11-06 15:17] #22 closed

[2016-03-16 15:16] gerchicov-bp opened #29 "Examples doesn't work"
[!] Unable to find a target named `Demo`
[!] Unable to find a target named `DemoTests`

[2016-03-16 15:24] abbeycode commented on #29
Did you open `UnrarKit.xcworkspace`, or `Example/UnrarExample.xcodeproj`? It's meant to be opened in the workspace. Let me know if that works for you.

[2016-03-16 15:31] gerchicov-bp commented on #29
I tried to run "pod install" when I'm in ```Example``` directory. This action is usually required by cocoapods. But in this case it seems I need just to download via git and run .xcworkspace file without pod generation, don't I? If so then why do you place a Podfile which doesn't work?

And anyways could you add some details about installation process into the readme file?

[2016-03-16 15:34] abbeycode commented on #29
The podfile is there as an example podfile, but is not necessary for the example project. All you should need to do to see the example project is open the workspace.

I'll take a look at the readme, and try to make it clearer.

[2016-03-16 15:40] gerchicov-bp commented on #29
Thanks. Yes, I can run it now via .workspace file. The only unclear thing left is if I want to import library files in my own iOS project then may I easily do it via copying sources?

[2016-03-16 15:42] abbeycode commented on #29
You can, but it also supports CocoaPods and Carthage, which allow you to receive updates more easily.

[2016-03-16 15:44] gerchicov-bp commented on #29
In my case I should replace the existing rar library with a newer one so it is better to import as resources which I could edit any time I need (I mean at least private/protected variables/methods)

[2016-03-16 15:47] abbeycode commented on #29
I'm sorry, I don't understand your question. Are you talking about updating UnrarKit, or were you using a different library? If you're talking about forking UnrarKit, you would be able to point Carthage to your own fork, and it should work.

[2016-03-16 15:50] gerchicov-bp commented on #29
No, I should replace another library which doesn't work properly with big archives. So I'm trying to test this library first

[2016-03-16 17:01] abbeycode commented on #29
Did I answer your question, or are you still unclear?

[2016-03-17 07:16] #29 closed

[2016-03-17 07:53] gerchicov-bp opened #31 "Example doesn't run on device (only simulator)"
Works in simulator, doesn't work on real device. The strangest thing is it is "compiled successfully" but the app is not installed on the device. Log:

dyld: Library not loaded: @rpath/UnrarKit.framework/UnrarKit
  Referenced from: /var/mobile/Containers/Bundle/Application/0FEBCED9-848A-4262-9399-7AA060C61F3E/UnrarExample.app/UnrarExample
  Reason: image not found

[2016-03-17 09:51] gerchicov-bp commented on #31
Tried to create my own project and add this library via podfile/carthage - nothing works too. Carthage throws a lot of errors and even doesn't create workspace file

[2016-03-17 13:51] abbeycode commented on #31
That's interesting - I'll have to try running the example project on-device later.

Regarding installation, though, I need more more information to help you out. Can you please provide the contents of your podfile and cartfile, the commands you're running to install dependencies, and the errors you're receiving?

Also, Carthage does not create a workspace file. It builds `.framework` files, which

[2016-03-18 03:57] abbeycode commented on #31
I was able to confirm that no, the example indeed does not run on device. I spent some time with it and couldn't figure out what was going on. What's the reason you'd like to run it on-device in the first place?

[2016-03-18 07:49] gerchicov-bp commented on #31
1)I currently use Unrar4iOS and it crashes because of memory troubles on real devices
2)yesterday I found out that both your library and Unrar4iOS use the same unrar library so your library may have the same crash. If you find it then don't try to replace unrar with  - I have tried with Unrar4iOS and this solution doesn't work

[2016-03-18 09:44] gerchicov-bp commented on #31
I've replaced the option ```Mach-O Type```:
Dynamic Library -> Static Library
and now it seems workable. But I still need the way how to import it as sources (or as a link to project file with inner sources) but without of using carthage/pods

[2016-03-18 12:43] gerchicov-bp opened #32 "Add fields for total compressed and uncompressed sizes of archive"
It enough complex code but you made it private. It is even not separated into the method

[2016-03-18 13:48] abbeycode commented on #31
1. UnrarKit is a massively upgraded fork of Unrar4iOS
2. Yes, they both use the UnRAR library, but (a) UnrarKit is using a fully up to date version, whereas Unrar4iOS has been neglected, and (b) that's the **official** library from WinRAR, the company that created and owns the RAR spec
3. I actually added `-extractBufferedDataFromFile:error:action:` to UnrarKit so you can stream a file in pieces,

[2016-03-18 13:52] abbeycode commented on #32
I don't understand exactly what you're asking for. You can use the following code (copied from `-extractFilesTo:overwrite:progress:error:`) to get an archive's total uncompressed size:

[code]

Are you suggesting I make a property of `URKArchive` with that code?

[2016-03-18 14:04] gerchicov-bp commented on #32
Yes, it is better to make this code as a property.
I was confused a little when you get total size and in the same time you get ```uncompressedSize``` via 2 different ways. Now I understand that the first way is to get the whole size at once and the second one is to calculate the common size of the unpacked files

[2016-03-18 14:09] abbeycode commented on #32
How are you currently getting the total (compressed) size? I don't remember there being a call for that, either.

[2016-03-18 14:14] gerchicov-bp commented on #32
I created a derived class and use it. So now my code looks almost exactly as your one above + some checks from your file

[2016-03-21 07:43] gerchicov-bp opened #33 "Feature request. Custom callback methods"
```int CALLBACK CallbackProc(UINT msg, long UserData, long P1, long P2)```
```int CALLBACK BufferedReadCallbackProc(UINT msg, long UserData, long P1, long P2)```
These functions can be accessed from the code inside ```URKArchive.mm```.
What about to add a public way to access them? For example I want to customize ```UCM_CHANGEVOLUME``` event

[2016-03-21 17:44] abbeycode commented on #33
In order to help design the API for this request, can you please provide some example use cases for this feature?

[2016-03-22 07:46] gerchicov-bp commented on #33
https://github.com/fishman/rar_expander/blob/master/RarExpander.mm
It handles ```UCM_CHANGEVOLUME```. I can't find an info what does this code do but my project uses this event too. But anyways I could copy it "as is" because UnrarKit doesn't handle this event at all

[2016-03-22 14:28] abbeycode commented on #33
Thanks, that link's helpful, but I'd still like to know how you plan to use the feature. Why is that event useful to you?

[2016-03-22 14:36] gerchicov-bp commented on #33
Sorry but I can't post my code. The only thing I can say is it handles something like error and in some cases returns -1 (failure) but the default implementation (including UnrarKit) always returns 0 even doesn't allow to handle this event without editing of the library's sources

[2016-03-22 14:51] abbeycode commented on #33
I'm not asking you to post code, I only mean _why_ do you need this feature? _Why_ is the `UCM_CHANGEVOLUME` event important to you? I'm looking for an explanation, not code.

As an example, for your other feature request, the answer could be "Because I'd like to show users in my app how much space a file will take up after he extracts it". I didn't ask for a use case for that feature, because I c

[2016-03-24 15:43] #31 closed

[2016-03-24 19:07] abbeycode commented on #31
@gerchicov-bp Please feel free to reopen this issue I didn't address all of your concerns.

[2016-03-24 21:35] abbeycode commented on #23
This is pretty much all done in the [issue23 branch](https://github.com/abbeycode/UnrarKit/tree/issue23). I'm waiting for `xctool` to get patched, so the build starts succeeding again, at which point I want to tag a build with `2.7.1-beta2` and make sure everything (including GitHub release notes) work as expected. Then I'll merge.

[2016-03-25 03:55] #23 closed

[2016-03-30 20:41] abbeycode commented on #32
This has been merged into `master` and will be included in the next release. Let me know if it works for you!

[2016-03-30 20:41] #32 closed

[2016-03-30 20:53] abbeycode commented on #33
@gerchicov-bp I've addressed your other feature request. If you're able to help me understand this request better, I can include this along with it on the next release.

[2016-03-31 07:34] gerchicov-bp commented on #33
anyways I've already created a block which is called inside this static callback method but this block is defined as public and I can always override/redefine it.

[2016-03-31 14:05] abbeycode commented on #33
Ok, feel free to submit a pull request to share back your contribution. I'm going to close this now - let me know if there's anything else I can do to help.

[2016-03-31 14:05] #33 closed

[2016-04-19 20:43] abbeycode opened #34 "Add support for NSProgress"
Make `URKArchive` implement `NSProgressReporting` on OS X >= 10.11 and iOS >= 9.0, and support implicit progress reporting for earlier OSes.

https://developer.apple.com/videos/play/wwdc2015/232/

Remaining tasks:

- [x] Add NSProgress support to all top-level methods
- [x] For extraction to disk, add passing of the current file info to NSProgress
- [x] Add section to Readme describing sample NSPr

[2016-11-02 18:54] abbeycode opened #35 "If running iOS >= 10 or macOS >= 10.12, use built-in system logging"
The documentation is here: https://developer.apple.com/reference/os/1891852-logging

Switch logging to use a new macro (`URKLog`), with an `ifdef` that uses the existing `NSLog` behavior on older OS versions. All logging should happen on a custom logger whose identifier is published on the readme. The macro should take the log level as the first argument, and insert it as a string into the `NSLog`

[2017-01-12 22:13] abbeycode opened #39 "Update to latest Xcode version"

[2017-01-13 10:03] aonez commented on #39
You need help for this? I always get the Xcode message to convert the project...

[2017-01-13 12:17] abbeycode commented on #39
Thanks, but I'd rather do it myself.

[2017-01-13 19:25] #39 closed

[2017-01-29 14:40] abbeycode opened #40 "ExtractData methods not attributed with nullable"
`extractData:progress:error:` and  `-extractDataFromFile:progress:error:` are missing the `nullable` attribute, even though they return `nil` for error conditions. This should be especially helpful for `Swift` users.

[2017-02-10 20:27] amosavian commented on #26
Any news :D

[2017-02-10 20:28] abbeycode commented on #26
Nope, not yet – been busy with other tasks. I'm always open to pull requests, though :D

[2017-02-10 20:29] amosavian commented on #26
I forgot it, found this after new GitHub update

[2017-05-11 09:19] dttrinh opened #41 ""FileNotFound" problem with Unicode characters in iOS 10.3 with APFS FileSystem"
Hi,
After released iOS 10.3 update with the change of FileSystem from HFS+ to APFS, most of filename with Unicode characters are can't unzip. (Before this update, all things are work perfectly)

Based on Apple, to avoid the problem, try to "Use the fileSystemRepresentation property of NSURL objects when creating and opening files with lower-level filesystem APIs such as POSIX open(2), or when stor

[2017-05-23 20:38] abbeycode opened #42 "Switch from Travis-After-All to Build Stages"
I no longer need to use a third-party hack, as the built-in Build Stages feature now provides this functionality.

https://blog.travis-ci.com/2017-05-11-introducing-build-stages

[2017-06-07 20:25] abbeycode commented on #41
Hey, sorry it took me so long to respond (I've got a newborn baby at home), but I'm going to be taking a look at this. I'm going to be addressing UnzipKit's issue 53 first (since it was reported first) but a lot of that work will translate over. Thanks for reporting it!

[2017-06-21 10:49] Jegge opened #43 "Update to unrar 5.5.5 / fix for VMSF_DELTA memory corruption"
Hi,

the unrar library used in UnrarKit seems to be vulnerable to the following critical bug: https://bugs.chromium.org/p/project-zero/issues/detail?id=1286&can=1&q=unrar&desc=6

Could you please update UnrarKit to the latest unrar library?

Thx Jegge

[2017-06-21 14:54] abbeycode commented on #43
Thanks for the heads-up! I'll take a look right away.

[2017-06-22 21:01] abbeycode commented on #43
This has been merged to master. I'll update the issue and close it out once the update gets pushed to CocoaPods.

[2017-06-22 21:41] Jegge commented on #43
Wow that was fast. Thank you a lot! I'll check it out at once.

[2017-06-23 14:44] abbeycode commented on #43
The release has been pushed to CocoaPods. Thanks again for pointing this out!

[2017-06-23 14:44] #43 closed

[2017-06-23 16:46] aonez commented on #43
Just a typo in the release: 5.5.5 instead of 5.4.5

![screen shot 2017-06-23 at 18 45 48](https://user-images.githubusercontent.com/480163/27491847-3f76d2ce-5844-11e7-9765-df7f81968255.png)

[2017-06-23 17:08] abbeycode commented on #43
@aonez Whoops, copy/paste error. Fixed!

[2017-08-03 21:46] abbeycode opened #44 "Add support for CocoaPods test spec"
There is a [CocoaPods blog post](http://blog.cocoapods.org/CocoaPods-1.3.0/) detailing how to do so.

[2017-08-08 19:23] abbeycode commented on #40
Released in v2.8.1

[2017-08-08 19:23] #40 closed

[2017-08-08 19:34] abbeycode opened #45 "Localize strings"
Following UnzipKit's example, localize all strings to a resource bundle distributed with the framework.

[2017-08-10 19:29] abbeycode commented on #42
This has been merged to the v2.9 branch for release in that version.

[2017-08-13 15:03] abbeycode commented on #41
This has been addressed (according to @amosavian in abbeycode/UnzipKit#53) by iOS since v10.3.3. Can you please verify if you're still affected by this?

[2017-08-15 10:57] oceanNg opened #46 "UnRar file have password in swift not work"
Hi guy. Thank you create and support unbar lib . i'm use lib in swift and i got the problem, i can't extract file have password protected . this is my code
[code]

18:03:13.870928+0700 TheUnarchiver[50668:720439] [Common] _BSMachError: port 7c0f; (os/kern) invalid capability (0x14) "Unable to insert COPY_SEND"
2017-08-15 18:03:13.871261+0700 TheUnarchiver[50668:720439] [Common] _BSMachError: port

[2017-08-15 14:45] abbeycode commented on #46
I cleaned up your code a bit to understand what's going on, but I was confused by the log lines you pasted below it. Are they coming from UnrarKit or TheUnarchiver? Or is that the app you're using with UnrarKit?

Also, what exactly happens when you run your code?

[2017-08-16 06:56] oceanNg opened #47 "How compress files by unrarKit lib in swift ?"
Hello guy, thank you create this lib.  I want compress files by lib without a password or have a password. You can show me exam syntax  code thank so much

[2017-08-20 16:49] abbeycode commented on #46
I'll close this if I don't hear back from you soon

[2017-08-20 16:49] abbeycode commented on #47
Please look at the README and the unit tests for examples

[2017-08-20 16:49] #47 closed

[2017-09-06 21:24] #46 closed

[2017-09-06 21:24] #41 closed

[2017-09-07 12:29] #35 closed

[2017-09-07 12:41] #42 closed

[2017-09-15 17:46] #45 closed

[2017-09-24 22:25] #34 closed

[2017-09-26 14:34] abbeycode opened #51 "Upgrade to Xcode 9"
- [x] Upgrade project
- [x] Fix any new warnings
- [x] Fix any broken test cases
- [x] Fix any CocoaPods/Carthage validation problems

[2017-09-28 21:20] #51 closed

[2017-09-29 10:38] aonez opened #53 "Add UnrarKitResources.bundle to UnrarKit.framework target dependencies"
Since now the framework includes this bundle, it should be necessary to build this first. Adding it to the UnrarKit framework target dependencies should be enough.

Also to UnrarKit iOS framework. I can't build it but i suppose it uses this bundle too.

![screen shot 2017-09-29 at 12 39 42](https://user-images.githubusercontent.com/480163/31012768-527e1604-a513-11e7-904d-6a1d2c95e067.png)

[2017-09-29 10:54] aonez opened #54 "NSLog fallback prints all messages even on release"
At least for release, all non `URKLogError` or `URKLogFault` messages should be optional. Even those, since the functions printing this messages also return the `NSError`object.

Maybe I'm missing something.

[2017-09-29 12:20] abbeycode commented on #53
Good catch!

[2017-09-29 12:36] abbeycode opened #55 "Consolidate targets across platforms"
I recently discovered the "Supported Platforms" build setting. I should use that to make a single cross-platform framework and unit test bundle. This will make the project easier to maintain going forward.

- [x] Update project's supported platforms
- [x] Make `UnrarKit` target support all platforms
- [x] Once everything's working right for macOS and iOS with the unified targets, drop the iOS-spec

[2017-09-29 12:39] abbeycode commented on #54
Take a look at the Logging section of the new README (v2.9 or multivolume branches). Since I'm using the new unified logging framework, you have control over all logging. You could turn off all logging from `com.abbey-code.UnrarKit` if you'd like to. But why do you want to? The errors and warnings should be pretty uncommon, right? The idea is that when an error or fault occurs, that message and th

[2017-09-29 13:12] abbeycode opened #56 "Compile with -Weverything flag"
This produces a ton of warnings, but the problem is I don't want any warnings reported for the `unrar` library. I can solve this by moving the unrar library into its own static library that'll get compiled in, I think. Then I'll specify `-Weverything` for `UnrarKit`, and `-Wnone` for `unrar`. This makes sense after #55, since it involves changing target configuration around.

- [x] Split `unrar` i

[2017-09-29 16:00] aonez commented on #54
I'm currently working on a Mac Mini '09 with Mac OS X 10.11.6, since 10.12+ is not supported on this oldie. Also Xcode is fixed to 8.2.1, here.

I'm getting on a release product all the logs that `URKLog` generates, not just `URKLogError`or `URKLogFault`.

[2017-09-29 16:27] aonez commented on #54
Just tested on a macOS 10.13, Xcode 8.3.3. No logs in the release product. So seems only an issue with the fallback to `NSLog`.

[2017-09-29 19:48] abbeycode commented on #54
That makes sense. Let's classify this as "won't fix", since `NSLog` support is going away.

[2017-09-29 19:48] #54 closed

[2017-09-29 21:31] abbeycode opened #57 "Send archived Carthage builds on release"
There's a guide on the [Carthage readme](https://github.com/Carthage/Carthage#use-travis-ci-to-upload-your-tagged-prebuild-frameworks)

[2017-10-02 21:23] abbeycode commented on #53
This should be addressed by PR #58

[2017-10-02 21:23] #53 closed

[2017-10-03 01:30] #55 closed

[2017-10-03 12:14] abbeycode commented on #44
This is stalled while I work on issue CocoaPods/CocoaPods#7040, which will fix the issue occurring now, where no output is logged while tests run during CocoaPods validation, causing Travis builds to timeout.

[2017-10-04 14:59] #56 closed

[2017-10-04 15:01] aonez commented on #56
Those improvements are so cool (the libunrar specifically) 👍🏼

[2017-10-06 18:13] #57 closed

[2017-10-07 04:40] abbeycode commented on #26
Hey man, I finally got around to this. Check out PR #61 and let me know what you think! It turns out that the `RAR_TEST` command doesn't do what it sounds like. It just reads the file's data without extracting it. So I implemented it the way it'll most likely work in UnzipKit too, which is to extract and checksum the extracted data.

[2017-10-11 11:45] abbeycode commented on #26
Merged! It'll be included in the next beta (2.9 beta 4)

[2017-10-11 11:45] #26 closed

[2017-10-26 11:22] aonez opened #62 "libunrar.a skip install in v2.9-beta5"
When archiving an app using the framework, `libunrar.a` is exported. Skip install flag should be set as `TRUE` on `unrar` target build settings.

Also `dll.hpp` and `raros.hpp` libraries are exported, but I can't figure out how to skip those.

[2017-10-26 11:37] aonez opened #63 "macOS 10.12 deployment target a must?"
I was able to build it for 10.9.
10.8- does not support NSProgress, so can't build for this one.

[2017-10-26 11:40] aonez commented on #54
So, a compiled version under Xcode 8.2.1, with 10.9 deployment target, prints all log messages on a macOS 10.13. I'll need to tweak this, since I not done with Xcode 8.2.1 and support for 10.8+...

[2017-10-26 11:57] abbeycode commented on #63
I'm defaulting to 10.12 because it's the cutoff for unified logging. The logging is so much more verbose in this release, but with unified logging consumers of the library can turn it down or off.

[2017-10-26 12:01] abbeycode commented on #62
Can you send me a screenshot of where you're seeing `libunrar.a` that you don't want to? Regarding the headers, `URKArchive.h` imports them, which is why they need to be included in the framework.

[2017-10-26 12:06] aonez commented on #62
Sure thing!

![screen shot 2017-10-26 at 14 04 10](https://user-images.githubusercontent.com/480163/32051872-9598a866-ba56-11e7-8d32-a204693a7ddf.png)

Since this happens in the Archive process, I can't sign the `.app`.

[2017-10-26 12:12] abbeycode commented on #62
Okay, so that definitely looks wrong for the headers. If you skip install on the libunrar target, that'll probably take care of those too.

Would you mind submitting a PR? That way you can verify using your own build. I use the library through CocoaPods, not Carthage.

[2017-10-26 12:21] aonez commented on #62
Here an example project. Just archive the Test scheme to replicate this: [Test.zip](https://github.com/abbeycode/UnrarKit/files/1418288/Test.zip)

This makes the `libunrar.a` disappear, but not the `dll.hpp` and `raros.hpp` 😔

[2017-10-26 13:21] abbeycode commented on #62
I'll take a look. And thanks, by the way, for testing it out while it's in beta! Better than turning up an issue like this after it's an official release :)

[2017-10-26 14:23] aonez commented on #62
That's what I thought, let's bug @abbeycode before the final release 😛

[2017-10-26 14:27] aonez commented on #63
Makes sense. Thanks!

[2017-10-26 14:27] #63 closed

[2017-10-26 14:40] aonez opened #64 "Some URKLogInfo that might be URKLogDebug"
Should those be `URKLogDebug` instead of `URKLogInfo`?

https://github.com/abbeycode/UnrarKit/blob/a6445be69ad0e16e67bbf46353fc4dbe2f9f3347/Classes/URKArchive.mm#L385

https://github.com/abbeycode/UnrarKit/blob/a6445be69ad0e16e67bbf46353fc4dbe2f9f3347/Classes/URKArchive.mm#L493

https://github.com/abbeycode/UnrarKit/blob/a6445be69ad0e16e67bbf46353fc4dbe2f9f3347/Classes/URKArchive.mm#L601

https://

[2017-10-30 12:20] abbeycode commented on #64
Thanks for the suggestion! This is what I wast thinking:

https://github.com/abbeycode/UnrarKit/blob/a6445be69ad0e16e67bbf46353fc4dbe2f9f3347/README.md#L201

Perhaps it's too verbose though, since it that particular one happens for almost every RAR operation.

[2017-10-30 13:03] abbeycode commented on #54
That's correct, it goes by deployment target.

[2017-10-30 16:26] aonez commented on #64
In my opinion only errors and uncommon actions should be logged by default. But it's just my preference.

[2017-10-30 16:37] aonez commented on #62
Beta 6 working for me 👏🏼

[2017-10-30 16:37] #62 closed

[2017-10-31 18:21] abbeycode commented on #64
Good call. I won't release a beta just for this, but it'll make it into the next beta or the final release of v2.9

[2017-10-31 18:21] #64 closed

[2017-11-25 20:03] aonez opened #66 "Fill hasMultipleVolumes on init"
https://github.com/abbeycode/UnrarKit/blob/2861c62e6c44569fb0f129e3b0b27fc9b4a70584/Classes/URKArchive.h#L157

Since the multivolume check is now done on init, I think this property should be filled there.
Also would be useful to have another property like "firstVolumeNotFound", also filled on init.

I can code it if you think like.

[2017-11-25 20:20] abbeycode commented on #66
What do you mean by "filling" it? It's a dynamic property, querying the archive's volume info when you call it.

[2017-11-25 20:21] aonez commented on #66
I mean remove the dynamic functionality, since whit the init we already do the check.

[2017-11-26 13:56] abbeycode commented on #66
That's an interesting idea, thanks. I'll consider it

[2017-12-05 20:03] skito opened #67 "Progress reporting makes large jumps, doesn't make it to 100%, on large multi-volume archives"
Hi There,

There is an issue when observing progress with multivolume archives. For example:
`override func observeValue(forKeyPath keyPath: String?, of object: Any?, change: [NSKeyValueChangeKey : Any]?, context: UnsafeMutableRawPointer?)`
`    {`
`            print("Extracting: \(progress.fractionCompleted)");        `
`    }`

on single volume archive of around 50mb will produce:

`Extracting:

[2017-12-07 15:11] abbeycode commented on #67
@skito Hmm, interesting. Are you able to share a Dropbox link (Or equivalent) to the archive for me to test with? I don't have any archives like that. You can DM me with it on Twitter ([@DovFrankel](https://twitter.com/DovFrankel))

[2017-12-08 14:06] skito commented on #67
@abbeycode Sure. The data in the archive above is confidential, but here is similar archive that behaves the same:
https://my.pcloud.com/publink/show?code=kZJOyJ7Z1xpp9zAH5tkGuTQTITqLhfKDF727

My output:
`Start extraction`
`Extracting: 7.02339954843241e-05`
`Extracting: 7.09789539958747e-05`
`Extracting: 0.0770643468305657`
`Extracting: 0.0771007285253158` - immediately after start
`Extracting: 25

[2017-12-15 15:23] skito commented on #67
Also .uncompressedSize property of URKArchive doesn't seems to be correct on multivolume archives.

Multivolume archive that in uncompressed size is 3.18 GB is shown as 7.7 GB when accessing .uncompressedSize before starting the extraction...

[2017-12-24 18:03] abbeycode commented on #67
@skito the `uncompressedSize` is another interesting one. Would you mind reporting as a separate issue?

[2017-12-24 22:06] abbeycode commented on #67
Alright, so I was able to reproduce with the archive you linked to. I added some additional diagnostic logging. These are the two things I notice:

1. The jumps in progress you mentioned
2. Progress ends at 50% or so, rather than 100%

The first item is expected behavior. When you extract files, the progress increments as each file completes. The archive you sent has a couple large files, and the

[2017-12-26 13:04] abbeycode commented on #67
Looking into it, there was definitely a bug that resulted in an incorrect total uncompressed size being reported. Files that spanned multiple volumes would get listed twice by `-listFileInfo:`. I added uniquing of the paths reported by `-listFileInfo:`, resolving the second issue above. No need to report it as a separate issue, since I don't think there's anything for me to do with the progress up

[2017-12-26 13:05] skito commented on #67
Thanks for the diagnostics!

1. About the progress - is there some sort of callback function that I can pass from Swift and manually handle the progress as you suggested? If so, could you provide very basic example of it?

2.  About the `uncompressedSize` property - it's possible to be wrong headers, but I noticed this issue with several multi-volume archives compressed with different software on

[2017-12-26 13:07] skito commented on #67
Oh, alright then. Could you please provide basic example of handling the progress blocks?

[2017-12-26 13:37] skito commented on #67
I just saw that you already provided the example in the home page.

`BOOL success = [archive extractBufferedDataFromFile:@"a file in the archive.jpg"
                                              error:&error
                                             action:
                ^(NSData *dataChunk, CGFloat percentDecompressed) {
                    NSLog(@"Decompressed: %f%%", percentDecompressed);

[2017-12-26 13:44] abbeycode commented on #67
No problem :) This is what I had in mind. It compiles, but I haven't tested it:

[code]

[2017-12-26 15:06] skito commented on #67
Awesome. Thanks!

[2017-12-26 16:52] abbeycode commented on #67
I'm closing this, since the fix was merged in for the v2.9 release. Look for it in the next beta!

[2017-12-26 16:52] #67 closed

[2018-01-05 08:23] skito opened #70 "extractBufferedData consumes too much memory"
Seems that the data in
`try worker.extractBufferedData(fromFile: fileInfo.filename) { (data, progress) in  ... }`
is not released, because the app consumes about 6GB memory with 3GB multivolume archive.

Extracting same archive with `extractFiles(to: destinationPath, overwrite: true)` only takes about 20MB in the memory.

Could you check please? Also it would be nice to provide cancelation inside

[2018-01-09 12:36] abbeycode commented on #70
That's certainly problematic. The reason I wrote the `extractBufferedData` method in the first place was to alleviate memory pressure for large archives. Back when I wrote it I had done profiling to make sure memory doesn't spike. Are you sure you're not retaining references to the data chunks from within your block?

Also, good call on cancellation. Can you create a separate issue for that? Yeah,

[2018-01-09 15:57] skito commented on #70
The code is pretty much your example from the previous issue:
[code]

For reference here's full code of the function which is part of a class:

[code]

where `self` is holding some reference properties and event callbacks like

`_canceled`
`_isBusy`
`_progressTotal`
`etc...`

If you want I can paste the full class code to test with. It's not very big and can be used as standalone object, not relat

[2018-01-09 16:01] skito opened #71 "Cancelation option inside extractBufferedData"
Could you please provide cancelation option inside extractBufferedData so we don't have to wait 1gb file to be fully extracted before canceling the operation? Maybe thought the progress object...

Thanks,
Dimitar

[2018-02-05 02:49] abbeycode commented on #70
Can you try calling wrapping the call to `worker.extractBufferedData` inside an autoreleasepool block?

[2018-02-09 12:09] skito commented on #70
It's better with autoreleasepool, but not enough.  Now instead of 6GB memory consumption the archive extraction only takes around 1.5GB. 4-5 peaks by 1.35GB and release after each peak.

Also I noticed significantly slower performance than `extractFiles` where the archive is extracted for about 1 minute, but with `extractBufferedData` this takes about 5 minutes. The issues is from the beginning, n

[2018-02-12 15:11] saru2020 opened #72 "Integrating UnrarKit into SARUnArchiveANY"
Hi,

First of all, Thanks for doing a Great job of supporting Rar unarchiving.

I need your help in integrating UnrarKit into '[SARUnArchiveANY](https://github.com/saru2020/SARUnArchiveANY)'.

**1.) Trying Cocoapods:**
I see that Cocoapods integration is not working and its throwing me these  linker errors.
<img width="269" alt="unrarkit_linkererrors" src="https://user-images.githubusercontent.com

[2018-02-13 01:24] abbeycode commented on #72
@saru2020 Sorry you're having trouble. Can you give me more details on your project? To start with, which platform are you targeting, what OS version, and what does your podfile look like?

[2018-02-13 01:49] saru2020 commented on #72
Hi,
Thanks for replying back.
Don't be sorry about anything. You're doing a wonderful work :)

[Here](https://www.dropbox.com/s/k4pauw7xlwaknaz/UnrarKit_Example.zip?dl=0) is the link to the project that I tried via Cocoapods Integration. Can you please take a look at it?

[2018-02-13 02:54] abbeycode commented on #72
I think it's a simple problem with your podfile. You left the line commented out that defines the platform and version. It looks like you're targeting iOS 11, so use this at the top:

    platform :ios, '11.0'

Once I did that and ran `pod update`, I started getting more normal errors (code signing and things like that).

Also, a few minor suggestions based on the sample code you have there:

[cod

[2018-02-13 02:54] #72 closed

[2018-02-13 08:18] saru2020 commented on #72
Hey, Thanks for taking a look.
My bad, I did 2 mistakes, commented out the platform version as well as the 'use_frameworks' flag.
Uncommenting these 2 lines worked:
`platform :ios, '11.0'`
`use_frameworks!`

[2018-02-22 01:23] yanex opened #73 "Need a lazy way to iterate files"
UnrarKit currently returns info about all files in an archive as a `NSArray`. It is terribly inefficient in case if the archive contains lot of files.
There should be a way to iterate files lazily using an iterator.

[2018-02-25 18:06] abbeycode commented on #73
Interesting – I never considered that. The Unrar library definitely encourages this approach. What sort of efficiency is problematic for you (time, memory, etc.)?

[2018-02-25 21:51] yanex commented on #73
Both time and memory.
The biggest issue is that you will get OOM crashes if you have a lot of files inside the archive. Java had exactly the same problem in `https://docs.oracle.com/javase/7/docs/api/java/io/File.html#listFiles()` until it was completely fixed in the new `Path` API (which utilizes the visitor approach).
The other problem is that if I want to find a particular file inside an archiv

[2018-03-20 22:08] abbeycode commented on #44
This has been merged, slated for `v1.5.0`

[2018-03-28 11:26] skito opened #74 "Allowing cancellation directly from extractFiles in middle of a file"
Currently cancelation is only supported by the progress object. However in case if we're not extracting data chunks, progress hits only after file is uncompressed. In case we're currently extracting large file 1GB or more, we need to wait the file to be fully extracted before canceling the whole operation. Some times it takes about 30-40sec or more...

[2018-05-09 20:58] abbeycode commented on #70
@skito Did you ever get a better handle on what's going on? If not, I'll take a look when I can.

[2018-05-10 09:28] skito commented on #70
Nope. I just decided to go with `extractFiles` as it's much faster. The progress is not such big issue as the cancelation while extracting large file. To handle this and minimize the "Stop" waiting I'm calling `extractFiles` in a separate thread and terminating the whole thread on Cancel request. In my case it's satisfactory.

[2018-05-10 11:48] #44 closed

[2018-05-10 11:56] abbeycode commented on #70
@skito Interesting. You're referring to #74?

[2018-05-10 12:00] abbeycode commented on #74
Just to be sure I'm understanding, you're calling `extractFiles` and you can't cancel immediately. It waits until the current file (which may be large) finishes extracting, and then stops the extraction?

If so, I can see that it would be a problem for a larger archive. I'll see if there's a way I can check for cancellation more frequently without changing the way the extraction itself happens.

[2018-05-10 12:05] skito commented on #70
Yes. #74

[2018-05-10 12:07] skito commented on #74
Yes, you get it right. As I said in #70 - the current workaround I'm using is to launch `extractFiles` into separate thread and kill the thread on cancellation. It stops immediately - no wait time.

[2018-05-10 22:03] abbeycode commented on #74
@skito Can you try out the `cancel-extract` branch? That should allow you to cancel `extractFiles` at any point you wish.

[2018-05-14 12:58] abbeycode commented on #74
I've merged this change into the v2.9 branch, and will release a new Beta for you to try shortly.

[2018-05-17 22:05] abbeycode opened #77 "Upgrade unrar library to v5.6.3"
The `unrar` library has grown a little stale. Update it.

[2018-05-18 12:09] abbeycode commented on #77
This has been merged into v2.9 for release

[2018-05-18 12:09] #77 closed

[2018-05-18 17:44] skito commented on #70
Yes I'll help to resolve the issue, but I'm currently on a business trip. Will got some time on the end of the next week to assist.

[2018-05-21 13:33] abbeycode commented on #74
This is in v2.9 beta 10. Reopen if this requires any further changes. Enjoy!

[2018-05-21 13:33] #74 closed

[2018-05-21 13:43] abbeycode commented on #66
@aonez I was looking into this, and I don't see the spot in `init` where we were talking about doing this check. Could you send the line number in URKArchive.mm from the current revision of the v2.9 branch?

[2018-05-21 14:19] aonez commented on #66
@abbeycode this is done here:

https://github.com/abbeycode/UnrarKit/blob/4fea60b2b940504e1d14e62720f94158703088c7/Classes/URKArchive.mm#L149-L154

Is that what you asked for? Glad to see beta 10!

[2018-05-22 19:04] aonez commented on #66
You're right @abbeycode, the first part of an old convention naming RAR volume will not match that code, anything else will. Maybe it's safer to leave `hasMultipleVolumes` as is now.

[2018-05-22 20:34] abbeycode commented on #66
Thanks for the suggestion anyway!

[2018-05-22 20:34] #66 closed

[2018-05-22 21:43] abbeycode commented on #73
@yanex I added this in the `lazy-file-iteration` branch, if you'd like to give it a shot. I'll merge into the v2.9 branch for release if it works for you, or after we refine it.

[2018-05-22 21:53] abbeycode commented on #73
@yanex I added this in the `lazy-file-iteration` branch, if you'd like to give it a shot. I'll merge into the v2.9 branch for release if it works for you, or after we refine it.

[2018-06-14 21:57] skito commented on #70
I'm having hard time to run `xctest` from `large-file-extract-profiling`. I can only run and profile successfully the UnrarExample project which is for iPhone. I've tried to add new OSX Console target to the `UnrarKit` project to run, but can't call the `testExtractBufferedData_VeryLargeSingleFile` function. Could you give me some more detailed guides how to run `xctest` after downloading the bran

[2018-07-10 12:48] abbeycode commented on #70
@skito Sorry it took me a while to respond. Are you using Xcode 9? I'm using 9.3 and I'm able to run the test directly from Xcode. See the screenshot below. Did you select the My Mac device (top of screenshot)?

<img width="661" alt="Xcode 9.3 unit test screenshot" src="https://user-images.githubusercontent.com/1349578/42510768-f0aa5998-841d-11e8-8520-f3971da85682.png">

[2018-07-10 12:57] abbeycode commented on #73
@yanex Have you had a chance to take a look?

[2018-07-16 11:03] picasso opened #78 "Cannot decrease the verbosity of logging"
I cannot  decrease the verbosity of logging...
I followed the instructions and set the `default` level (see the picture), but my console is still full of a huge number of messages that completely interfere with debugging. My archives usually contain 3000-5000 files and the simple operation of getting a list of files leads to several thousand messages in the console.

![screen shot 2018-07-15 at 21

[2018-07-16 11:48] abbeycode commented on #78
What version of macOS are you using? And are you seeing the messages in Xcode's debug output, or the system Console app, or both?

I just set the level to default on my machine while I was developing an app that uses UnrarKit, and it immediately dropped off the verbosity.

[2018-07-16 12:01] aonez commented on #78
Maybe relative to #54?

[2018-07-16 22:17] picasso commented on #78
macOS - 10.13.6, Xcode - 9.4.1, UnrarKit - 2.9-beta10

I'm seeing the messages in Xcode's debug output and in the system Console app

[2018-07-17 01:37] abbeycode commented on #78
As @aonez pointed out above, this is a similar report to his issue #54, in which we realized it's because of the iOS version he was targeting. What's your deployment target OS version?

[2018-07-17 07:45] picasso commented on #78
If it was so simple... my deployment target - 10.13

[2018-07-17 20:55] abbeycode commented on #78
And just to confirm, you ran:

    sudo log config --mode "level:default" --subsystem com.abbey-code.UnrarKit

And you entered your admin password for `sudo`?

Assuming "yes" to the above, can you send a screenshot of the Console app, with one of those log messages selected?

[2018-07-17 23:08] picasso commented on #78
yes. I posted screenshot with my first message where you could see the current level

there are a lot of messages. Which messages are you interested in?
![screen shot 2018-07-18 at 01 07 13](https://user-images.githubusercontent.com/399395/42850261-02bb778e-8a27-11e8-823d-6d2009cc9e94.png)

[2018-07-19 12:15] abbeycode commented on #78
I'm sorry, but I'm at a loss. Have you tried on a different machine? UnrarKit is using the built-in Unified Logging framework now, so I don't know what could be causing this. Maybe try a restart?

[2018-07-19 12:45] yanex commented on #73
Sorry for the late answer :(
Yes, the new way looks much better to me than just an `NSArray`. Good job! 👍

[2018-07-20 16:41] picasso commented on #78
ok, thanks... well, I'll try different approaches and if I find something, I'll write.

But by the way, why not let it be managed from the class? I looked at the code - there all the logging functions are made through #define ... why not to add the property to the class and let it change to those who need it. It's still a framework and not an end product ... the developer has the right to manage i

[2018-07-20 20:40] abbeycode commented on #78
@picasso have you seen examples of other frameworks that do this, while logging to Apple's logging framework? I'd like to see how they approach it.

To me, one of the advantages of leaving it configured by the system, is the ability to turn up the verbosity as necessary for customers who are experiencing problems. If you turn it off in code (as in @aonez's patch), you lose that capability.

[2018-07-20 20:42] abbeycode commented on #78
Also, check out [this doc page](https://developer.apple.com/documentation/os/logging#2878594) - it looks like you can customize with plist files also.

[2018-07-21 13:49] picasso commented on #78
@aonez  thanks for your efforts, but my current problem that these log messages prevent me to work in DEBUG mode. I receive a thousand messages (because I work with large archives) and among these messages I have to search my own debugging messages. Anyway it's just inconvinient but not fatal :) The framework works, just my work is not so relaxed..

[2018-07-21 14:01] picasso commented on #78
@abbeycode I already tried plist but with the same result. I think that this is the consequence of some configurations on my computer... I've lived with him for more than 6 years, maybe something accumulated over time somewhere in the Library...

I really do not think there will be a customer who examines the documentation, finds the necessary `command`, can run `Terminal`, knows what `sudo` is, u

[2018-07-23 20:29] abbeycode commented on #78
@picasso There are easier ways to get the logs from a user (such as a sysdiagnose), but regardless, I do think @aonez's suggestion can help you at design time too - just remove his conditional compilation  flag and turn off all UnrarKit logging until and unless you need it.

[2018-07-25 12:07] picasso commented on #78
@abbeycode you are right... I'm always reluctant to change anything in the framework, but here there is only a possible solution.

[2018-07-25 12:07] #78 closed

[2018-07-27 20:48] abbeycode commented on #70
@skito Did that help?

[2018-08-01 13:51] skito commented on #70
I'm using xCode 9.4.1. This is the point I got to. I'm guessing nothing is happening. I've never did profiling before, so in order to provide you some real data I'll need step-by-step(click this, select this, etc...) guide how to do so with `large-file-extract-profiling` branch.

![screen shot 2018-08-01 at 16 38 37](https://user-images.githubusercontent.com/26840279/43525090-8941fa0c-95a9-11e8-9e

[2018-08-09 21:08] abbeycode commented on #70
Sure, @skito, no problem. I'm no expert in Instruments, but I'll show you how to get where I did for comparison.

1. As mentioned above, copy your archive into the `Tests/Test Data` directory and update the `largeArchiveName` and `archivedFileName` variables for your archive
2. Right-click on the run-test rhombus next to the unit test's name, and choose **Profile "testExtractBufferedData_VeryLarge

[2018-10-02 11:50] skito commented on #70
Well, better later than never. Sorry for the long delay.

Seems that I'm seeing the same numbers with profiling.
![screen shot 2018-10-02 at 14 21 52](https://user-images.githubusercontent.com/26840279/46345840-b7e83f80-c64e-11e8-8901-a0528e16887d.png)

However the numbers inside the debugger are different when running my app with the same archive.
![screen shot 2018-10-02 at 14 42 19](https://use

[2018-10-02 11:53] abbeycode commented on #70
@skito Sure, go ahead and send the swift file, but I think it would be even more useful if you could possibly send me a link to download the archive (DM me on Twitter @dovfrankel).

[2018-10-02 13:49] skito commented on #70
Here's a link to download:
https://drive.google.com/drive/folders/18BhuHsF3lZF2rE-sWRYQHkcCBEKs_Iyw?usp=sharing

I'll keep it live for 24 hours. Some instructions below.

Example usage:
[code]
In Extractor.swift there are two methods `BExtract` and `BExtract2`
`BExtract` is using `extractBufferedData`
`BExtract2` is using `extractFiles`

If you want to switch between the methods just switch the na

[2018-10-18 13:06] abbeycode commented on #70
@skito I just got a chance to play around with the archive and code you sent. I'm glad to report that I was now able to reproduce what you're seeing. Further, I was able to reproduce it using my original test archive – by translating my test case to Swift. This appears to be caused (somehow) by bridging from Objective-C to Swift.

For a short-term workaround, you can write the code that calls `ext

[2018-10-18 22:37] abbeycode commented on #70
I think I solved it! Can you try out the `swift-men-leak` branch? My tests showed it worked. Keeps memory usage around 12MB

[2018-11-05 18:49] abbeycode commented on #70
I've merged the fix I introduced in PR #80, and am closing this issue. If you still experience this problem, please reopen the issue.

[2018-11-05 18:49] #70 closed

[2019-04-03 20:02] skito opened #81 "Ability to check/test/repair corrupted header files"
It will be very helpful feature!

[2019-04-15 21:15] abbeycode commented on #81
I completely agree - I've recently come across several archives from customers with valid contents and corrupt headers. Do you know of any other libraries that do this, or what methods in the unrar API meant to do this?

[2019-04-16 09:54] skito commented on #81
WinRar for windows has that ability.  I think the unrar API use the same libraries from RARLab, doesn't it? Also the 7zip library supports it, not sure if you can use them in ObjC/Swift, but for the same C# project I use the 7zip DLL's via 3d party product like UnrarKit called SevenZipSharp.

One interesting thing I came over while investigating the headers problem is that, the same RAR archive ex

[2019-04-18 12:42] abbeycode commented on #81
I tried opening a corrupted file in 7-Zip in Windows and didn't see any header repair options. It also failed to extract the images in the archive (they came out 0 bytes in size), whereas when I use other tools, that same archive is able to be extracted and kept mostly intact. Can you point me to some specific app actions (menu, button, etc.) or API calls that validate or fix the header?

[2019-04-18 13:47] skito commented on #81
Sure. Right click on the file in Windows -> 7-Zip -> Test Archive. Screenshot attached.
![Screenshot_3](https://user-images.githubusercontent.com/26840279/56365372-64f46500-61f9-11e9-9679-ee41fe053a8d.png)

Also check the second menu bellow "7-Zip" where it says "CRC SHA".

[2019-04-23 12:13] abbeycode commented on #81
Hmmm... I think all the "Test archive" option does is comparing the contents of each archived file against the CRC stored in the header. `-[URKArchive checkDataIntegrity]` already does that. The "CRC SHA" options generate hashes of the whole archive, so you can verify it matches the posted checksum given at the time of download. Do you know of any tools that repair the header, or can tell you if t

[2019-09-14 22:11] abbeycode opened #82 "Allow ignoring of invalid CRCs in archive header"
Sometimes archives get written with bad CRC values in their headers, and it's common for RAR readers to give users the option to ignore these invalid CRCs, so UnrarKit should give the option to do so. This may also resolve #81.

[2019-09-14 22:15] abbeycode opened #83 "Upgrade unbar library to v5.8.1"

[2019-09-15 01:52] #83 closed

[2019-11-05 13:16] abbeycode opened #85 "Unhandled exception in +pathIsARAR:"
This line is throwing a `NSFileHandleOperationException` exception, which is a documented eventuality when the file can't be read:

    NSData *fileData = [handle readDataOfLength:8];

Instead of crashing, log the exception and return `NO`.

[2019-11-05 14:08] #85 closed

[2019-11-09 03:00] #82 closed

[2019-11-26 13:01] abbeycode commented on #81
@skito have you seen the changes I've made in the `v2.10` branch? I think it might possibly address what you're looking for.

[2020-04-25 01:51] xiaogdgenuine opened #87 "Ability to quick extract individual entry data without iterate through the entry list"
Thanks for providing such a good project! Everything about RAR just works fine as it means too, my first iOS app will get a lot of enhancements from your works, thank u so much again!

One little thing though, I don't know if it's a RAR limit or it's something we can overcome.
Right now we can select and extract individual entries from the Archive file, these functions can be used:
- extractDataFr

[2020-04-25 04:05] abbeycode commented on #87
Hey, thanks for the feedback! I use UnrarKit and UnzipKit in my own comic reader, for what it's worth. I'm curious if you're noticing specific performance problems, or if it's just a lot of logging. The logging shouldn't materially slow down production apps, but if you don't turn it off in Xcode, debugging can definitely become slow.

It also it's scanning through the whole file every time to find

[2020-04-25 04:48] xiaogdgenuine commented on #87
@abbeycode Thanks for the info, u are right I shouldn't put my judgment too early, I will try to profile in `Release` mode, my test rar archive contains about 2k pictures and quite large, so I think it's a bit hard to upload it and send over to u.

I will share my profile results later. If it's really due to the log then we can close this issue, if it's not I will try to generate a small rar archi

[2020-04-25 11:03] xiaogdgenuine commented on #87
@abbeycode I run some rough profiling, and the result is really interesting, I use a test rar file with about **900** pictures in it, here is the result:

- Extract entries one by one, and save to a disk file:
![image](https://user-images.githubusercontent.com/51731239/80277784-09ba5400-8724-11ea-9b1a-e957fbcfe854.png)

- Extract entries one by one, and don't save to disk file:
![image](https://us

[2020-04-25 11:08] xiaogdgenuine commented on #87
Instead of using the compiled version of `UnrarKit`, now I'm embedding the `UnrarKit` project into my project directly, so I can read & modify the source code, I will try to understand the code and see if I can add one more `offset` attribute to the entry struct, and use it for extraction to replace `filename`.

I will come back to u if I need some help, thank u!

[2020-04-26 03:44] xiaogdgenuine commented on #87
I made it!!!

I record the `header offset` of entry when we iterate through the entire entry list(which only happens once), and use that `header offset` to ask `unrar` seek the archive at correct position, then do the normal extraction.

The total time saving is remarkable for random individual extraction now, it's less than **10s**, and I think we can do even better if we keep the RAR archive ope

[2020-04-26 04:12] abbeycode commented on #87
That’s great. I can work with you to refine your PR, but I’d say since the point of this change would be for a performance gain, if need to see a unit test up front that I can use to compare the new approach to the old approach. There are plenty of examples already in the codebase. I use the RAR command line tool to generate archives with large files and with large numbers of files.

[This Apple a

[2020-04-27 11:50] xiaogdgenuine commented on #87
@abbeycode I just push my PR, it would be great if u can spend some time to help me refine & review it, it's my first time trying to modify some code in such low level, and if not thing is broken that would be a miracle to me haha :P.

Anyway, the PR is here:
https://github.com/abbeycode/UnrarKit/pull/88

I test with a couple of my test archives, `solid`, `single volume`, `multi volumes`, all work

[2020-08-02 03:06] shuna opened #89 "Add support for Swift package manager"
Thanks for very useful library. I believe it will be more better if project supports for Swift package manager.

[2020-08-02 19:24] abbeycode commented on #89
That's a great idea. I hadn't looked into it much before because I had assumed only Swift projects would be supported, but it looks like Objective-C module support is built in. It's worth looking into! A Pull Request would be appreciated

[2020-08-13 03:31] zhouluyao2020 opened #90 "Realm and UnrarKit both have a list.hpp header"
i use "pod Realm" in project,botn UnrarKit and Realm contains list.hpp file,#include "list.hpp" in Realm Invoked UnrarKit,Can you rename for list.hpp.

[2020-08-13 03:34] abbeycode commented on #90
Unfortunately, list.hpp is part of the rarlib source code, which I don't modify directly. I keep it as-is. Can you please show me exactly the error you're seeing?

[2020-08-13 03:41] zhouluyao2020 commented on #90
in Xcode,new Project ,use cocoapod add pod 'UnrarKit', '~> 2.7.1' ,pod 'RealmSwift', '3.17.3',you will see the error

[2020-12-27 01:48] liufsd opened #93 "arm 64 support"
Showing All Messages
The linked and embedded framework 'UnrarKit.framework' is missing one or more architectures required by this target: arm64.

[2021-01-25 22:21] byFinchley commented on #89
Newbie developer building my first MacOS app and being able to read rar/cbr files would be super useful. I second the request for Swift Package Manager support.

I see you asked for a pull request! As far as I understand that means someone else has created the Swift Package Manager support and is requesting you look at the code before merging into UnrarKit. I'd love to help but I'm way off that le

[2021-01-25 22:24] abbeycode commented on #89
@byFinchley Thanks for your interest. I'd like to make sure you're aware UnrarKit does support Carthage and CocoaPods, which will still allow you to use UnrarKit in Swift.

[2021-01-28 03:02] abbeycode commented on #93
How are you installing UnrarKit? Are you using Carthage or CocoaPods, or downloading the framework from GitHub?

[2021-02-02 04:50] #93 closed

[2021-02-02 05:42] abbeycode commented on #90
I've made a patch in the `issue90` branch, if you'd like to test that out. If it works, I'll consider merging it in, but I'm a little hesitant to arbitrarily remove a file the library ships with. Have you tried asking Realm whether they'd consider naming theirs something less generic, as it appears that for them it's not an external dependency but rather a file they wrote and maintain?

[2021-02-10 02:38] abbeycode commented on #90
@zhouluyao2020 I'm going to close this now. If it's still an issue for you, reopen it when you're ready to discuss whether the `issue90` branch fixes this for you.

[2021-03-31 10:53] byFinchley commented on #89
I was aware of the cocoapods option but I'm already using SPM for other packages and would like to keep things as simple as possible. I'll happily wait until the right solution (for me) comes along. Thanks for getting back to me

[2021-05-13 09:46] eric0815 opened #99 "About Unexpected end of archive and Corrupt header"
I got a rar file from our customer,UnrarKit showes "Archive has a corrupt header".

I add "archive.ignoreCRCMismatches = YES;" and error is gone,but no files being unrared.

WinRar for windows can unrar the files successfully.

I try to repair it with "repair tool" in WinRar for windows,it showes "Unexpected end of archive" and "Corrupt header is found"

The demo rar file is here,please help.Thank

[2021-05-13 15:32] abbeycode commented on #99
Hi, @eric0815 and thanks for reaching out. Are you able to send a different link? That page doesn't load properly for me, and the buttons to download the file are in an Asian language I can't read so I don't know which of them to click to download it.

I'll take a look, but if even WinRar thinks it's corrupted, there's not much I'm going to be able to do. What are you hoping for, partial extractio

[2021-05-13 16:19] eric0815 commented on #99
Hi,@abbeycode,Thanks for your answer.I uploaded the rar file to google drive and updated the link address.
Yes, Winrar thinks it's corrupted if I try to repair it.But If I just unrar it,WinRAR can unrar all files successfully.

So,Can UnrarKit ignore this part of archive check and just try to unrar the files in the archive directly?

Thanks.

[2021-05-13 18:35] abbeycode commented on #99
The new archive only contains the UnrarKit README.md file - is that what you intended?

[2021-05-13 23:43] eric0815 commented on #99
Hi,@abbeycode,YES.Only one README file.Thanks.

[2021-05-25 02:50] eric0815 commented on #99
Hi,@abbeycode,There is one README file in the demo rar file.I can not unarchive the file with UnrarKit  like winrar does.Any suggestions would be appreciated.Thanks.

[2021-06-19 12:32] syedecryptr commented on #90
I am also facing the same issue please considerr merging issue90 branch.

[2021-06-23 02:00] abbeycode commented on #90
@syedecryptr Thanks for reaching out! Did you try using `issue90` and verify the items below? If so, I'm happy to merge into the v2.10 branch which I'm hoping to release soon-ish.

# The library works as expected
# UnrarKit still performs as expected

[2021-06-23 02:10] zhouluyao2020 commented on #90
I change the list.hpp and list.cpp filename to listForUnrar.hpp and   listForUnrar.cpp in my local pod project,it's work for me.awesome library,hope naming the filename add prefix  less generic.

[2021-06-23 03:30] abbeycode commented on #90
@zhouluyao2020 As I mentioned to @syedecryptr above, if you'd like to verify the two items I listed in the `issue90` branch, I can merge it in for the next release. It basically looks like UnrarKit doesn't need the `rar` library's list.hpp, so I'm able to exclude it altogether (even better than a prefix!).

[2021-06-23 05:44] syedecryptr commented on #90
I installed the issue90 branch with the help of this [answer](https://stackoverflow.com/a/39930762) and :
1.  The library works as expected.
2. I was able to unrar all three kinds of files RAR, RAR5, and RAR with a password.

To be more exact I was working on a plugin for flutter using this library [unrar_file](https://pub.dev/packages/unrar_file) and it was working as expected but when I tried it

[2021-09-22 15:44] polaronde opened #100 "performOnDataInArchive needs too much RAM"
Within the while loop in performOnDataInArchive, a buffer is allocated with malloc and used for an NSData object:

`NSData *data = [NSData dataWithBytesNoCopy:buffer length:(NSUInteger)info.uncompressedSize freeWhenDone:YES];`

The intention is that the memory is freed when the NSData object is released. But this happens only later, outside of the while loop. So when processing a large RAR archive

[2021-12-17 08:44] kunkunbobo commented on #90
I have this issu too,but use 2.10-beta5 is OK,can you release  2.10 official version faster?

[2022-02-11 03:34] abbeycode commented on #90
Thanks to everyone who wrote in about this one. I’ve merged in the fix, for inclusion in v2.11. I’m trying to get a beta of v2.11 out soon to CocoaPods and Carthage.

[2022-02-11 03:34] #90 closed

[2022-07-27 11:28] okferret opened #106 "Building for iOS, but the linked and embedded framework 'UnrarKit.framework'"
Building for iOS, but the linked and embedded framework 'UnrarKit.framework'

Xcode 13.4.1

[2022-07-29 03:52] abbeycode commented on #106
I'm sorry, can you please rephrase? I'm not seeing a problem or a question in what you posted.

[2022-08-08 06:19] huynguyen230892 opened #109 "Not able to build XCFramework in Swift Package Manager with Mac Catalyst support"
I tried to create XCFramework that support Mac Catalyst. But I can not. The XCFramework work fine on macOS and iOS, but not on Mac Catalyst. I tried by apple way and other lib that support (https://github.com/gurhub/surmagic) but only support iOS and macOS. ( I have tested on other frameworks)

There are no SPM supported, so I hope you could take a look. Thanks you.
![Screen Shot 2022-08-08 at 11

[2022-08-08 15:43] abbeycode commented on #109
I've recently tried getting SPM to work with UnrarKit (see the [swiftpm branch](https://github.com/abbeycode/UnrarKit/tree/swiftpm)), but have had some trouble. Why do you need an "XCFramework" bundle? Could a regular .framework dynamic framework bundle work for you as well? I include one built with Carthage along with every release. There'll be a v2.11 beta out soon that should give you the lates

[2022-08-09 02:32] huynguyen230892 commented on #109
Because I need to use UnrarKit on my Package. This is the only way I known :(
<img width="932" alt="Screen Shot 2022-08-09 at 09 31 49" src="https://user-images.githubusercontent.com/32290683/183550767-e7da4e43-3aea-4a49-8118-e7c7167a4c53.png">

[2022-08-10 00:59] abbeycode commented on #109
Now I understand, thanks for clarifying. I'm going to close this as a duplicate of #89, since UnrarKit doesn't support SPM yet. Please feel free to help get SPM integration working and submit a PR. I'd be happy to provide guidance, but I hit a wall when I tried. You can start from my [swiftpm branch](https://github.com/abbeycode/UnrarKit/tree/swiftpm), as mentioned before, where I started but didn

[2022-08-16 04:34] huynguyen230892 opened #110 "Does not support Mac Catalyst"
Thanks for making a contribution to UnrarKit! I greatly value issue reports, which help make the library better, and more useful to more people. To help me address your issue, please follow the steps below.

I have a project that need to run on Mac Catalyst. But UnrarKit seen like its cannot run on Mac Catalyst. I tried to use your example but this not working. Can you please take a look. Thanks y

[2022-08-16 12:46] abbeycode commented on #110
As I stated in Issue #109:

It looks like I misunderstood. I see now when I try to check the Mac Catalyst box from the UnrarExample project (even without SPM in the mix) it won't run. I'll see what is going on. Meanwhile I'm going to close this issue as a duplicate and reopen the original one.

[2022-08-16 12:46] #110 closed, assigned to nobody

[2022-08-16 12:46] abbeycode commented on #109
It looks like I misunderstood (As mentioned in #110). I see now when I try to check the Mac Catalyst box from the UnrarExample project (even without SPM in the mix) it won't run. I'll see what is going on. Meanwhile I'm going to close this issue as a duplicate and reopen the original one.

[2022-08-17 02:58] huynguyen230892 commented on #110
Thanks you.

[2022-08-17 03:32] huynguyen230892 commented on #109
Thanks you.

[2022-08-29 15:11] huynguyen230892 commented on #109
Hi, Any news on this? :(

[2022-10-01 19:06] victorBaro commented on #89
Any updates on SPM support?

[2022-10-01 19:06] jtans commented on #89
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我不在线，无法亲自回复您的邮件。不过我会尽快给您回复滴。